.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 3px solid red;
}
.text {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  margin: 0;
  text-decoration: none;
  color: #000000;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border: 3px solid red;
}
.logo_place_header {
  position: absolute;
  z-index: 3;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  border: 3px solid red;
}
.header__title {
  position: absolute;
  z-index: 3;
  width: 730px;
  left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  border: 3px solid red;
  }
.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 3;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  border: 3px solid red;
}
.header__link {
  color:#2f80ed;
  border: 3px solid red;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 2;
  border: 3px solid aqua;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  position: absolute;
  z-index: 1;
  border: 3px solid red;
  }
  .description {
    display: flex;
    justify-content: center;
    position: relative;
    border: 3px solid red;
  }
  .two-colums {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 100px auto;
    border: 3px solid red;
    width: 80%;
  }
  .two-colums__brief {
    border: 3px solid red; 
    width: 175px;
    margin: 0;
    color: #2f80ed;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
  }
  .two-colums__main-text {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
  }
  .two-colums__paragraph {
    border: 3px solid red;
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
    margin: 0; 
  }
  .two-colums__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
  }
  .two-colums__paragraph-middle {
    margin: 30px 0;
  }
  



